<%- include('./partials/header', {title: 'Welcome'}); %>

<a href="/login" class="btn btn-success mt-3">login</a>
<a href="/register" class="btn btn-success mt-3">Register</a>

<%- include('./partials/footer'); %>